<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<h2>Loans</h2>
<%= link_to 'New Loan', new_loan_path %>
<table class="table">
  <thead>
    <tr>
      <th>Interest rate</th>
      <th>Interest rate period</th>
      <th>Balance</th>
      <th>Principal</th>
      <th>Load period duration</th>
      <th>Loan period type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.interest_rate %></td>
        <td><%= loan.interest_rate_period %></td>
        <td><%= loan.balance %></td>
        <td><%= loan.principal %></td>
        <td><%= loan.loan_period_duration %></td>
        <td><%= loan.loan_period_type %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Users</h2>
<%= link_to 'New User', new_user_path %>
<table class="table">
  <thead>
    <tr>
      <th>F name</th>
      <th>L name</th>
      <th>Email</th>
      <th>Street1</th>
      <th>Street2</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.f_name %></td>
        <td><%= user.l_name %></td>
        <td><%= user.email %></td>
        <td><%= user.street1 %></td>
        <td><%= user.street2 %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.postal_code %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Fees</h2>
<%= link_to 'New Fee', new_fee_path %>
<table class="table">
  <thead>
    <tr>
      <th>Origination fee</th>
      <th>Origination fee percent</th>
      <th>Maintenance fee</th>
      <th>Maintenance fee period</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.origination_fee %></td>
        <td><%= fee.origination_fee_percent %></td>
        <td><%= fee.maintenance_fee %></td>
        <td><%= fee.maintenance_fee_period %></td>
        <td><%= link_to 'Show', fee %></td>
        <td><%= link_to 'Edit', edit_fee_path(fee) %></td>
        <td><%= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


